@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

#page-header.about-header{
    background-image: url("/img/about/banner.png");

}

.section-p1 {
    padding: 40px 80px;
  }
  .section-m1 {
    margin: 40px 0;
  }