*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;

}


/*Header superior*/
.header_superior{
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/*Menu desplegable*/
.container__menu{
  width: 100%;
  height: 70px;
  background: #023877;
  padding: 0 20px;
}
.menu{
  max-width: 1200px;
  margin: auto;
  height: 100%;
}
nav{
  height: 100%;
}

nav > ul{
height: 100%;
display: flex;
}
nav >ul >li{
  height: 100%;
  list-style: none;
  position: relative;

}
nav > ul > li:first-child:hover>a{
  background-image: url(../Taller/Imagenes/hogar.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px 40px;

}
nav > ul > li:first-child>a{
  background-image: url(../Taller/Imagenes/hogar.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;

}
nav > ul > li >a{
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 300ms ease;

}
nav > ul > li >a:hover{
  transform: scale(1.1);
  background: #0074c7;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.5);
}
#selected{
  transform: scale(1.1);
  background-color: #0074c7;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.5);
}























/*Marca*/
.title {
  font-size: 25px; /* Ajusta el tamaño de fuente según tus preferencias */
  background: linear-gradient(#1497be, #1c2aec);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: text 5s linear infinite;
  filter: hue-rotate(0deg);
  margin-top: 10px;
  margin-left: 450px;
  
}
@keyframes text{
  0%{
    filter:hue-rotate(0deg)
  }
  100%{
    filter: hue-rotate(360deg);
  }
}




.logo {
    position: fixed;
  top: -35px; /* Ajusta la distancia desde la parte superior según tus preferencias */
  left:-45px; /* Ajusta la distancia desde la izquierda según tus preferencias */
  width: 230px;
  height: 200px;
  border: none;
  border-radius: 50%; /* Hace que el logo tenga forma de círculo */
  transition: transform 0.3s;
  }
  .logo img{
    width: 250px;
  }

  .logo-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo:hover {
    transform: scale(1.1);
  }

  /*Buscador de productos*/
  .search {
    position: relative;
    margin-left: 1280px;
    margin-top: -100px;
  }
  
  .input {
    width: 150px;
    padding: 10px 0 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
  }
  
  .search svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }
  





  
  
  
  
  
  
  
  
  /*Boton de corazon o likes*/
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50px;
    right: 220px;
    transition: transform 0.3s; /* Agregado */
  }
  
  .btn::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: rgb(250, 4, 4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon1 {
    width: 30px;
    height: 30px;
    transition: .2s linear;
  }
  
  .icon1 path {
    fill: rgb(255, 0, 0);
    transition: .2s linear;
  }
  
  .btn:hover {
    transform: scale(1.1); /* Ajustado */
  }
  
  .btn:hover .icon path {
    fill: rgb(252, 4, 4);
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  
  .quantity {
    display: none;
  }
  
  .btn:hover .quantity {
    display: inline-block;
  }
  
  
  
  
  
  
  /*boton de carrito de compras*/
  .btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 150px;
  }
  
  .btn-cart::after {
    content: attr(data-quantity);
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: rgb(71, 11, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
  }
  
  .icon-cart {
    width: 30px;
    height: 30px;
    transition: .2s linear;
  }
  
  .icon-cart path {
    fill: rgb(2, 6, 255);
    transition: .2s linear;
  }
  
  .btn-cart:hover>.icon-cart {
    transform: scale(1.2);
  }
  
  .btn-cart:hover>.icon-cart path {
    fill: rgb(28, 5, 238);
  }
  
  .btn-cart:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
  }
  
  .quantity {
    display: none;
  }



  .btn-user {
    position: absolute; /* Cambiamos a posición absoluta */
    top: 30px; /* Ajusta la posición vertical (ejemplo: 20px desde la parte superior) */
    right: 70px; /* Ajusta la posición horizontal (ejemplo: 20px desde la derecha) */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    outline: none;
  }
  
  .btn-user svg {
    width: 2.1em;
    height: 2.5em;
    fill: #e61212;
  }
  
  .btn-user:hover {
    transform: scale(1.1);
  }
  
  .btn-user:hover svg {
    fill: #0400ff;
  }
  
